GCP_PROJECT=
GCP_REGION=
WORKER_JOB_NAME=
SUPABASE_URL=https://
SUPABASE_SERVICE_ROLE_KEY=
KEK_HEX=
EXECUTION_MODE=local	
RUNTIME_API_TOKEN=

SENTRY_DSN=
SENTRY_RELEASE=
SENTRY_ENVIRONMENT=
SENTRY_TRACES_SAMPLE_RATE=
SENTRY_SERVER_NAME=
SENTRY_DEBUG=false