fastapi
uvicorn
httpx
pydantic
python-dateutil
supabase
postgrest
gotrue
realtime
storage3
anyio
cryptography
typing-extensions
dotenv
google-auth>=2.0.0
google-auth-httplib2>=0.1.0
google-cloud-run>=0.10.0
httplib2
uritemplate
oauth2client
rsa
pyasn1
pyasn1-modules
cachetools
requests
urllib3
idna
certifi
charset-normalizer
hubspot-api-client
six
redis
async-timeout
nltk
regex
joblib
tqdm
numpy
scipy
scikit-learn


